{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap %}

{% block page_content %}
    <div class="row m-b-l" style="height: calc(100% - 70px)">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    What even is this?
                </div>
                <div class="panel-body">
                    <p>
                        Caravan is a fork of <a href="http://bingosync.com">bingosync.com</a> which supports 6x6 bingo boards.
                        For more information, see that webbed site please!
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Privacy
                </div>
                <div class="panel-body">
                    <p>
                        Caravan, like Bingosync, stores any room information that you enter-- including room and
                        player names, goal actions, and chat messages--  so that you can still
                        access old rooms in the future.
                        Caravan, like Bingosync, uses browser cookies in order to keep track of which rooms you're
                        logged into currently.
                        Caravan keeps a log of recent access to its web servers, including
                        IP addresses and user agent strings, so that I can troubleshoot any issues that
                        come up and identify problematic traffic patterns.
                    </p>
                    <p>
                        Caravan does not collect or store names, email addresses, or other
                        personal information. The room and player information that Caravan
                        stores is anonymous: it can't be attributed back to the specific person who
                        entered it.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


