<div id="color-chooser" class="panel panel-default">
    <div class="panel-heading">
        <span>
            Color Picker
        </span>
        <span id="color-chooser-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            <div class="flipped">^</div>
        </span>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser plasmiumsquare" squareColor="plasmium">plasmium</div>
            <div class="col-md-2 btn color-chooser hornetsquare" squareColor="hornet">hornet</div>
            <div class="col-md-2 btn color-chooser shermasquare" squareColor="sherma">sherma</div>
            <div class="col-md-2 btn color-chooser gillysquare" squareColor="gilly">gilly</div>
            <div class="col-md-2 btn color-chooser vespasquare" squareColor="vespa">vespa</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
        <!-- hide the lower row by default, it gets shown with slideToggle() -->
        <div class="row js-lower-row" style="overflow: hidden; display: none">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser magnetitesquare" squareColor="magnetite">magnetite</div>
            <div class="col-md-2 btn color-chooser huntresssquare" squareColor="huntress">huntress</div>
            <div class="col-md-2 btn color-chooser scroungesquare" squareColor="scrounge">scrounge</div>
            <div class="col-md-2 btn color-chooser beastlingsquare" squareColor="beastling">beastling</div>
            <div class="col-md-2 btn color-chooser architectsquare" squareColor="architect">architect</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
