<div id="color-chooser" class="panel panel-default">
    <div class="panel-heading">
        <span>
            Color Picker
        </span>
        <span id="color-chooser-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            <div class="flipped">^</div>
        </span>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser orangesquare" squareColor="orange">plasmium</div>
            <div class="col-md-2 btn color-chooser redsquare" squareColor="red">hornet</div>
            <div class="col-md-2 btn color-chooser bluesquare" squareColor="blue">sherma</div>
            <div class="col-md-2 btn color-chooser greensquare" squareColor="green">pinstress</div>
            <div class="col-md-2 btn color-chooser purplesquare" squareColor="purple">architect</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
        <!-- hide the lower row by default, it gets shown with slideToggle() -->
        <div class="row js-lower-row" style="overflow: hidden; display: none">
            <!-- space column -->
            <div class="col-md-1"></div>
            <div class="col-md-2 btn color-chooser navysquare" squareColor="navy">magnetite</div>
            <div class="col-md-2 btn color-chooser tealsquare" squareColor="teal">huntress</div>
            <div class="col-md-2 btn color-chooser brownsquare" squareColor="brown">scrounge</div>
            <div class="col-md-2 btn color-chooser pinksquare" squareColor="pink">beastling</div>
            <div class="col-md-2 btn color-chooser yellowsquare" squareColor="yellow">vespa</div>
            <!-- space column -->
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
